@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-Bold.tff') format('truetype')
    url('/fonts/DM_Sans/DMSans-BoldItalic.tff') format('truetype')
    url('/fonts/DM_Sans/DMSans-Italic.tff') format('truetype')
    url('/fonts/DM_Sans/DMSans-Medium.tff') format('truetype')
    url('/fonts/DM_Sans/DMSans-MediumItalic.tff') format('truetype')
    url('/fonts/DM_Sans/DMSans-Regular.tff') format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}
